.header-container {
  display: flex;
  position: absolute;
  z-index: 10;
  justify-content: space-between;
  align-items: center;
  padding: 24px 120px 0 120px;
  width: 100%;
  box-sizing: border-box;
  left: 0;
  right: 0;
}
